<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jl_fa.appenem">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.Abertura"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".View.Autenticacao" />
        <activity android:name=".View.CadastrarUsuario" />
        <activity android:name=".View.FazerSimulado" />
        <activity android:name=".View.VerAcertos" />
        <activity android:name=".View.CadastroQuestoes"></activity>
    </application>

</manifest>